@model BoletosBus_CleanModularApp.Web.Models.BusModels.BusCreateModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Bus</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CapacidadPiso1" class="control-label"></label>
                <input asp-for="CapacidadPiso1" class="form-control" />
                <span asp-validation-for="CapacidadPiso1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CapacidadPiso2" class="control-label"></label>
                <input asp-for="CapacidadPiso2" class="form-control" />
                <span asp-validation-for="CapacidadPiso2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
